@model ToricCalculator.Cms.Models.LanguageKeys
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ToricCalculator.Service.SharedResource> SharedLocalizer
@{
	Layout = "_Layout";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/ui-toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<style>
	.btnBlue {
		background-color: #20a4d5;
		border-color: #ff8f1f;
		border-radius: .42rem;
		border: transparent;
		padding: 6px 13px;
		font-weight: bolder;
		margin-right: 1%;
		font-size: 91%;
		color: white;
	}

	.formStyle {
		background-color: white;
		border-radius: .42rem
	}

	.radiotext {
		margin: 10px 10px 0px 0px;
	}

	.labelFloat {
		color: #75b9df;
	}

	.row {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}


	p {
		font-size: 0; /* Fixes inline block spacing */
	}

	span {
		width: 50%;
		display: inline-block;
	}

		span.align-right {
			text-align: right;
		}

		span a {
			font-size: 16px;
		}

	.degreeIcon {
		left: -5%;
	}

	.styleGroup {
		margin-bottom: 0.75rem !important;
	}

	.parent {
		position: relative;
	}

	.image5 {
		position: absolute;
		width: 69.4%;
		margin-top: 49.6%;
		margin-left: -84.1%;
	}

	.infoRed {
		position: absolute;
		width: 69.4%;
		margin-top: 17.9%;
		margin-left: 1%;
	}

	.infoGreen {
		position: absolute;
		width: 69.4%;
		margin-top: 18%;
		margin-left: 34%;
	}

	.infoKesi {
		position: absolute;
		width: 27.4%;
		margin-top: 14.5%;
		margin-left: 70%;
	}

	.active.custom-file-control:before, .btn.active, .btn.focus, .btn:active, .btn:focus, .btn:hover, .custom-file-control:active:before, .custom-file-control:focus:before, .custom-file-control:hover:before, .focus.custom-file-control:before, .open > .btn.dropdown-toggle, .open > .dropdown-toggle.custom-file-control:before {
		color: rgba(0,0,0,.87);
		background-color: white;
		border-color: white;
	}

	.image6 {
		position: absolute;
		width: 69%;
		margin-top: 49.2%;
		margin-left: -84.1%;
	}

	.imgsol {
		position: absolute;
		margin-top: 3%;
		width: 8%;
		margin-left: -10%;
	}

	.imgsag {
		width: 8%;
		margin-left: 2%;
		margin-top: 3%;
		position: absolute;
	}

	.image7 {
		width: 100%;
		margin-top: 0%;
		margin-left: -0.5%;
	}

	.hr {
		margin-top: 0% !important;
		margin-bottom: 0% !important
	}

	.image8 {
		position: absolute;
		width: 76%;
		margin-top: 9%;
		margin-left: -87.6%;
	}

	.image9 {
		position: absolute;
		width: 106%;
		top: -13px;
		left: -21px;
	}

	.image10 {
		position: absolute;
		width: 15%;
		top: 40%;
		left: 78%;
	}

	.image12 {
		position: absolute;
		width: 30%;
		margin-top: 14%;
		margin-left: -64%;
	}

	.image13 {
		position: absolute;
		width: 69.5%;
		margin-top: 49%;
		margin-left: -84.3%;
	}

	.image15 {
		position: absolute;
		width: 40%;
		top: 45%;
		left: 6%;
	}

	.image16 {
		position: absolute;
		width: 40%;
		top: 45%;
		left: 6%;
	}

	.image17 {
		position: absolute;
		width: 33%;
		top: 16%;
		left: 34%;
		transform: rotate( 0deg );
	}

	.image18 {
		position: absolute;
		width: 40%;
		top: 45%;
		left: 6%;
	}

	.image20 {
		position: absolute;
		width: 102%;
		top: 21%;
		left: -1%;
		transform: rotate( 0deg );
	}

	.image22 {
		position: absolute;
		max-width: 161%;
		margin-left: -34%;
		margin-top: -6%;
	}

	.image30 {
		position: absolute;
		margin-top: 19.2%;
		width: 38.5%;
		margin-left: -68.9%;
	}

	.image40 {
		position: absolute;
		margin-top: 19%;
		width: 37.6%;
		margin-left: -68.5%;
	}

	.dikFlat {
		right: 5%;
	}

	.dik {
		right: 5%;
	}

	.calculateText {
		margin-top: 45%;
		position: absolute;
		margin-left: -55.5%;
		width: 13%;
		text-align: center;
		background-color: black;
		border-radius: 3rem;
		padding: 3%;
	}

	#calculateText {
		text-align: center;
		color: beige;
		font-size: 12px;
	}

	.svg-icon.svg-icon-primary svg g [fill] {
		fill: darkred !important;
	}



	.table td, .table th {
		padding: .60rem 1rem 0rem 0rem;
	}

	.tableStyle {
		padding: 0rem 2.25rem;
	}

	.card-body {
		padding: 2.5% 1% 2.2% 1%;
	}

	.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
		background-image: linear-gradient( 0deg,#75b9df 2px,rgba(63,81,181,0) 0),linear-gradient( 0deg,rgba(0,0,0,.26) 1px,transparent 0);
	}

	.popover-body {
		padding: 0rem 0rem 0.5rem 0.5rem;
		color: #212529;
	}

	table {
		width: 100% !important;
	}

	div.centertext {
		text-align: center;
	}

	.div label.lefttext {
		text-align: left;
	}

	.div label.righttext {
		text-align: left;
	}

	.testK {
		color: white !important;
		border-radius: .42rem !important;
		padding-top: 2% !important;
		padding-bottom: 2% !important;
	}

	.card {
		border: 0;
		box-shadow: 0px 0px 0px 0 rgb(0 0 0 / 12%);
	}

	.placeholderLoading {
		padding: 9px 0px 9px 0px;
		background-color: #e7e9ed;
	}

	@@media only screen and (max-width: 370px) {
		.tableStyle {
			padding: 0rem 2.25rem;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}

		.questionIcon {
			margin-top: 11.5% !important;
		}
	}

	@@media only screen and (min-width:370px) and (max-width: 399px) {
		.questionIcon {
			margin-top: 10.8% !important;
		}

		.tableStyle {
			padding: 0rem 2.25rem;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}

	@@media only screen and (min-width : 400px) and (max-width: 479px) {
		.questionIcon {
			margin-top: 9.6% !important;
		}

		.tableStyle {
			padding: 0rem 2.25rem;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}

	@@media only screen and (min-width : 480px) and (max-width: 499px) {
		.questionIcon {
			margin-top: 4.9% !important;
		}

		.tableStyle {
			padding: 0rem 2.25rem;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}

	@@media only screen and (min-width : 500px) and (max-width: 516px) {
		.tableStyle {
			padding: 0rem 2.25rem;
		}

		.questionIcon {
			margin-top: 4.7% !important;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}

	@@media only screen and (min-width : 516px) and (max-width: 530px) {
		.tableStyle {
			padding: 0rem 2.25rem;
		}

		.questionIcon {
			margin-top: 8% !important;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}

	@@media only screen and (min-width : 530px) and (max-width: 560px) {
		.questionIcon {
			margin-top: 7% !important;
		}

		.tableStyle {
			padding: 0rem 2.25rem;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}




	@@media only screen and (min-width : 560px) and (max-width: 578px) {
		.questionIcon {
			margin-top: 7% !important;
		}

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}
	}

	@@media only screen and (min-width : 578px) and (max-width: 768px) {

		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			min-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			min-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}

		.questionIcon {
			margin-top: 7% !important;
		}
	}

	@@media only screen and (min-width: 768px) and (max-width: 992px) {
		#style-row {
			display: block;
		}

		.col-7 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		.col-5 {
			flex: 0 0 58.33333%;
			max-width: 100%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 0%;
		}

		.questionIcon {
			margin-top: 5.9% !important;
		}
	}

	@@media only screen and (min-width: 990px) and (max-width: 1200px) {
		#results {
			height: 37.9%;
		}

		.textesClass {
			margin-bottom: 18.5% !important;
			text-align: center;
			margin-top: 6.55% !important;
		}

		.locClass {
			text-align: center;
			margin-top: 1.5% !important;
		}

		#resultPreview {
			height: 37.9%;
		}

		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 1.4%;
		}

		.questionIcon {
			margin-top: 7.8% !important;
		}
	}

	@@media only screen and (min-width: 1200px) {
		#style-col5 {
			margin: 0% !important;
			padding: 0% 0% 0% 1.4%;
		}
	}

	.stylecheck {
		margin-top: 15% !important;
	}



	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #333;
		color: #fff;
		text-align: center;
		border-radius: 2px;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	}

		#snackbar.show {
			visibility: visible;
			-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}

	@@-webkit-keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@@keyframes fadein {
		from {
			bottom: 0;
			opacity: 0;
		}

		to {
			bottom: 30px;
			opacity: 1;
		}
	}

	@@-webkit-keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	@@keyframes fadeout {
		from {
			bottom: 30px;
			opacity: 1;
		}

		to {
			bottom: 0;
			opacity: 0;
		}
	}

	.loader {
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		margin-left: -23%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite !important; /* Safari */
		animation: spin 2s linear infinite;
		position: absolute;
		margin-top: -35%;
	}

	@@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.questionIcon {
		color: #ff8f1f;
		width: 2.5%;
		margin-top: 6.4%;
		position: absolute;
		z-index: 1;
		margin-left: -0.5%;
	}

	.textesClass {
		margin-bottom: 16%;
		text-align: center;
		margin-top: 6.55%;
	}

	.locClass {
		text-align: center;
		margin-top: 6.5%;
	}

	.hrStyle {
		width: 374%;
		margin-right: 313%;
		margin-left: -160%;
		border: 0.1px solid #e5e5e5;
		margin-top: 11%;
	}

	.hrStyleRight {
		width: 374%;
		margin-right: 313%;
		margin-left: -178%;
		border: 0.1px solid #e5e5e5;
		margin-top: 11%;
	}
</style>
<script>
	function uuidv4() {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
			var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
			return v.toString(16);
		});
	}
	$(function () {
		var guid = uuidv4();
			setCookie('vsyGuidId', guid, 300);
			document.getElementById('surgeonName').value = getCookie('vsysurgeonName');
			document.getElementById('clinic').value = getCookie('vsyclinic');
			document.getElementById('phone').value = getCookie('vsyphone');
			document.getElementById('email').value = getCookie('vsyemail');
			document.getElementById('country').value = getCookie('vsycountry');

			var coutrySelected = getCookie('vsycountry');
			if (coutrySelected == "US") {
				document.getElementById("US").selected = "selected";
				document.getElementById("UK").selected = "";
				document.getElementById("France").selected = "";
				document.getElementById("Spain").selected = "";
				document.getElementById("Turkey").selected = "";
				document.getElementById("Italy").selected = "";
				document.getElementById("SelectedCountry").selected = "";

			}
			else if (coutrySelected == "UK") {
				document.getElementById("US").selected = "";
				document.getElementById("UK").selected = "selected";
				document.getElementById("France").selected = "";
				document.getElementById("Spain").selected = "";
				document.getElementById("Turkey").selected = "";
				document.getElementById("Italy").selected = "";
				document.getElementById("SelectedCountry").selected = "";

			}
			else if (coutrySelected == "France") {
				document.getElementById("US").selected = "";
				document.getElementById("UK").selected = "";
				document.getElementById("France").selected = "selected";
				document.getElementById("Spain").selected = "";
				document.getElementById("Turkey").selected = "";
				document.getElementById("Italy").selected = "";
				document.getElementById("SelectedCountry").selected = "";

			}
			else if (coutrySelected == "Spain") {
				document.getElementById("US").selected = "";
				document.getElementById("UK").selected = "";
				document.getElementById("France").selected = "";
				document.getElementById("Spain").selected = "selected";
				document.getElementById("Turkey").selected = "";
				document.getElementById("Italy").selected = "";
				document.getElementById("SelectedCountry").selected = "";

			}
			else if (coutrySelected == "Turkey") {
				document.getElementById("US").selected = "";
				document.getElementById("UK").selected = "";
				document.getElementById("France").selected = "";
				document.getElementById("Spain").selected = "";
				document.getElementById("Turkey").selected = "selected";
				document.getElementById("Italy").selected = "";
				document.getElementById("SelectedCountry").selected = "";

			}
			else if (coutrySelected == "Italy") {
				document.getElementById("US").selected = "";
				document.getElementById("UK").selected = "";
				document.getElementById("France").selected = "";
				document.getElementById("Spain").selected = "";
				document.getElementById("Turkey").selected = "";
				document.getElementById("Italy").selected = "selected";
				document.getElementById("SelectedCountry").selected = "";
			}

			else {
				document.getElementById("US").selected = "";
				document.getElementById("UK").selected = "";
				document.getElementById("France").selected = "";
				document.getElementById("Spain").selected = "";
				document.getElementById("Turkey").selected = "";
				document.getElementById("Italy").selected = "";
				document.getElementById("SelectedCountry").selected = "selected";
			}
		});

		$(function () {country
			var options = [];
			var $select = $(".1-100");
			for (i = -20; i <= 45; i = i + 0.5) {
				var option = "<option value='" + i.toFixed(2) + "'>" + i.toFixed(2) + "</option>"
				options.push(option);
			}
			var optionSelect = "<option value='selectedVal' selected='selected'>Seçiniz</option>";
			options.push(optionSelect);
			$select.html(options);
		});

	function eyeControl(deg) {
		debugger;
			if (deg == "left") {
				document.getElementById("eyesag").style.border = " double gray";
				document.getElementById("eyesol").style.border = ""

				document.getElementById("leftItem").innerText = "NASAL";
				document.getElementById("rightItem").innerText = "TEMPORAL";

				document.getElementById("idcheck1").checked = true;
				document.getElementById("idcheck2").checked = false;
			}
			else {
				document.getElementById("eyesag").style.border = ""
				document.getElementById("eyesol").style.border = " double gray"

				document.getElementById("leftItem").innerText = "TEMPORAL";
				document.getElementById("rightItem").innerText = "NASAL";

				document.getElementById("idcheck1").checked = false;
				document.getElementById("idcheck2").checked = true;
			}
		}
	function ChangeMM() {
			setCookie('vsyNotasyon', 'mm', 300);
			document.getElementById("flatKLabel").textContent = "K1 (Flat K) 5mm-10mm";
			document.getElementById("steepKLabel").textContent = "K2 (Dik K) 5mm-10mm";

			document.getElementById("flatK").style.backgroundColor = "";
			document.getElementById("steepK").style.backgroundColor = "";
			document.getElementById("steepK").value = "";
			document.getElementById("flatK").value = "";
			document.getElementById("messageK1").style.display = "none";
			document.getElementById("messageK2").style.display = "none";
	}

		function ChangeD() {
			setCookie('vsyNotasyon', 'd', 300);
			document.getElementById("flatKLabel").textContent = "K1 (Flat K) 30.00D~60.00D";
			document.getElementById("steepKLabel").textContent = "K2 (Dik K) 30.00D~60.00D";

			document.getElementById("flatK").style.backgroundColor = "";
			document.getElementById("steepK").style.backgroundColor = "";
			document.getElementById("steepK").value = "";
			document.getElementById("flatK").value = "";
			document.getElementById("messageK1").style.display = "none";
			document.getElementById("messageK2").style.display = "none";
		}

		$(document).ready(function () {
			var vsyM = '@ViewBag.vsyModel';
			if (vsyM == "1") {
				document.getElementById("trinova").selected = "selected";
				document.getElementById("udm").selected = "";
			}
			else {
				document.getElementById("trinova").selected = "";
				document.getElementById("udm").selected = "selected";
			}
		});

		$(document).ready(function () {
			$('#desc2').popover({
				html: true,
				title: function () {
					return $('.popover_title2').html();
				},
				content: function () {
					return $('#popover_content_wrapper2').html();
				}

			});
			$('#desc').popover('hide');
		});
		function validClose() {
			document.getElementById("validmessage").style.display = "none";
		}
		function messageWarningClose() {
			document.getElementById("messageWarn").style.display = "none";
		}
		function validClose360() {
			document.getElementById("validmessage360").style.display = "none";
		}

		function funcAxisY(deg) {
			//if (deg.value == "")
			//{
			//	document.getElementById("image6").style.display = "none";
			//}

			//else {
			//	if (deg.value > 180) {
			//		document.getElementById("axisY").style.backgroundColor = "#FFF0F0";
			//		document.getElementById("axisY").style.color = "#ff2d2d";
			//		document.getElementById("validmessage").style.display = "";
			//	}
			//	else {
			//		document.getElementById("image6").style.display = "";
			//		document.getElementById("image6").style.transform = ("rotate(" + deg.value + "deg)");
			//		document.getElementById("validmessage").style.display = "none";
			//		document.getElementById("axisY").style.backgroundColor = "";
			//		document.getElementById("axisY").style.color = "";
			//	}
			//}
		}



		function func(deg) {
			//if (deg.value == "") document.getElementById("image5").style.display = "none";
			//else {
			//	if (deg.value > 180) {
			//		document.getElementById("axisX").style.backgroundColor = "#FFF0F0";
			//		document.getElementById("axisX").style.color = "#ff2d2d";
			//		/*document.getElementById("validmessage").style.display = "";*/
			//	}
			//	else {
			//		document.getElementById("image5").style.transform = ("rotate(" + deg.value + "deg)");
			//		document.getElementById("image5").style.display = "";
			//		/*document.getElementById("validmessage").style.display = "none";*/
			//		document.getElementById("axisX").style.backgroundColorViewBag = "";
			//		document.getElementById("axisX").style.color = "";
			//	}
			//}
		}

	function senkronX(deg) {
		debugger;
			document.getElementById("axisY").oninput = "";
			if (deg.value == "") document.getElementById("image5").style.display = "none";
			else {
				if (deg.value > 180) {
					document.getElementById("axisX").style.backgroundColor = "#FFF0F0";
					document.getElementById("axisX").style.color = "#ff2d2d";
					/*document.getElementById("validmessage").style.display = "";*/
				}
				else {
					document.getElementById("image5").style.transform = ("rotate(" + -deg.value + "deg)");
					document.getElementById("image5").style.display = "";
					/*document.getElementById("validmessage").style.display = "none";*/
					document.getElementById("axisX").style.backgroundColor = "";
					document.getElementById("axisX").style.color = "";
				}
			}

			if (deg.value != null && deg.value != "") {
				if (deg.value < 91) {
					document.getElementById("axisY").value = Math.abs(parseInt(deg.value) + 90);
					document.getElementById("image6").style.transform = ("rotate(" + Math.abs(-parseInt(deg.value) + 90) + "deg)");
				}
				else {
					document.getElementById("axisY").value = Math.abs(deg.value - 90);
					document.getElementById("image6").style.transform = ("rotate(" + Math.abs(parseInt(deg.value) - 270) + "deg)");
				}
			}
			else document.getElementById("axisY").value = "";
			if (deg.value == "") {
				document.getElementById("image6").style.display = "none";
			}
			else document.getElementById("image6").style.display = "";
			if (document.getElementById("axisY").value < 181) {
				document.getElementById("axisY").style.backgroundColor = "";
				document.getElementById("axisY").style.color = "";
			}
			else {
				document.getElementById("axisY").style.backgroundColor = "#FFF0F0";
				document.getElementById("axisY").style.color = "#ff2d2d";
			}
			document.getElementById("axisY").oninput = function () { senkronY(this); };
			if (deg.value == "" || deg.value == null) {
				document.getElementById("axisY").style.backgroundColor = "";
				document.getElementById("axisY").style.color = "";
				document.getElementById("axisX").style.backgroundColor = "";
				document.getElementById("axisX").style.color = "";
			}
		}
		function senkronY(deg) {
			document.getElementById("axisX").oninput = "";

			if (deg.value == "") {
				document.getElementById("image6").style.display = "none";
			}

			else {
				if (deg.value > 180) {
					document.getElementById("axisY").style.backgroundColor = "#FFF0F0";
					document.getElementById("axisY").style.color = "#ff2d2d";
					/*document.getElementById("validmessage").style.display = "";*/
				}
				else {
					document.getElementById("image6").style.display = "";
					document.getElementById("image6").style.transform = ("rotate(" + -deg.value + "deg)");
					/*document.getElementById("validmessage").style.display = "none";*/
					document.getElementById("axisY").style.backgroundColor = "";
					document.getElementById("axisY").style.color = "";
				}
			}


			if (deg.value != null && deg.value != "") {
				if (deg.value < 91) {
					document.getElementById("axisX").value = Math.abs(parseInt(deg.value) + 90);
					document.getElementById("image5").style.transform = ("rotate(" + Math.abs(-parseInt(deg.value) + 90) + "deg)");
				}
				else {
					document.getElementById("axisX").value = Math.abs(deg.value - 90);
					document.getElementById("image5").style.transform = ("rotate(" +  Math.abs(parseInt(deg.value) - 270) + "deg)");
				}
			}
			else document.getElementById("axisX").value = "";
			if (deg.value == "") {
				document.getElementById("image5").style.display = "none";
			}
			else document.getElementById("image5").style.display = "";
			if (document.getElementById("axisX").value < 181) {
				document.getElementById("axisX").style.backgroundColor = "";
				document.getElementById("axisX").style.color = "";
			}
			else {
				document.getElementById("axisX").style.backgroundColor = "#FFF0F0";
				document.getElementById("axisX").style.color = "#ff2d2d";
			}
			document.getElementById("axisX").oninput = function () { senkronX(this); };
			if (deg.value == "" || deg.value == null) {
				document.getElementById("axisX").style.backgroundColor = "";
				document.getElementById("axisX").style.color = "";
				document.getElementById("axisY").style.backgroundColor = "";
				document.getElementById("axisY").style.color = "";
			}

		}
		function kesi(deg) {
			if (deg.value == "" || deg.value == null) {
				document.getElementById("image12").style.display = "none";
				document.getElementById("kesiID").style.backgroundColor = "";
				document.getElementById("kesiID").style.color = "";
			}

			else {
				if (deg.value > 360) {
					document.getElementById("kesiID").style.backgroundColor = "#FFF0F0";
					document.getElementById("kesiID").style.color = "#ff2d2d";
				}
				else {
					document.getElementById("kesiID").style.backgroundColor = "";
					document.getElementById("kesiID").style.color = "";
					document.getElementById("image12").style.display = "";
					document.getElementById("image12").style.transform = ("rotate(" + parseInt(90 - parseInt(deg.value) ) + "deg)");
				}
			}
		}
	function flatkClick(deg) {
		debugger;
			if (getCookie("vsyNotasyon") == "d") {
				if (deg.value > 60 || deg.value < 30) {
					document.getElementById("flatK").style.backgroundColor = "#FFF0F0";
					document.getElementById("flatK").style.color = "#ff2d2d";
				}
				else {

					if ((document.getElementById("flatK").value != null && document.getElementById("flatK").value != "") && (document.getElementById("steepK").value != null && document.getElementById("steepK").value != "")) {
						if (parseInt(document.getElementById("flatK").value) >= parseInt(document.getElementById("steepK").value)) {
							document.getElementById("messageK2").style.display = "";
							document.getElementById("messageK1").style.display = "none";
							/*document.getElementById("messageK").innerText = "K2 değeri K1 değerinden büyük olmalıdır.";*/
							document.getElementById("flatK").style.backgroundColor = "#FFF0F0";
							document.getElementById("flatK").style.color = "#ff2d2d";
							document.getElementById("steepK").style.backgroundColor = "#FFF0F0";
							document.getElementById("steepK").style.color = "#ff2d2d";
						}
						else {
							document.getElementById("messageK2").style.display = "none";
							document.getElementById("flatK").style.backgroundColor = "";
							document.getElementById("flatK").style.color = "";
							document.getElementById("steepK").style.backgroundColor = "";
							document.getElementById("steepK").style.color = "";
						}
					}
					else {
						document.getElementById("flatK").style.backgroundColor = "";
						document.getElementById("flatK").style.color = "";
						document.getElementById("steepK").style.backgroundColor = "";
						document.getElementById("steepK").style.color = "";
					}
				}

			}
			else {
				if (deg.value > 10 || deg.value < 5) {
					document.getElementById("flatK").style.backgroundColor = "#FFF0F0";
					document.getElementById("flatK").style.color = "#ff2d2d";
				}
				else {
					if ((document.getElementById("flatK").value != null &&  document.getElementById("flatK").value != "") && (document.getElementById("steepK").value != null && document.getElementById("steepK").value != "")) {
						if (parseInt(document.getElementById("flatK").value) <= parseInt(document.getElementById("steepK").value)) {
							document.getElementById("messageK1").style.display = "";
							document.getElementById("messageK2").style.display = "none";
							/*document.getElementById("messageK").innerText = "K1 değeri K2 değerinden büyük olmalıdır.";*/
							document.getElementById("flatK").style.backgroundColor = "#FFF0F0";
							document.getElementById("flatK").style.color = "#ff2d2d";
							document.getElementById("steepK").style.backgroundColor = "#FFF0F0";
							document.getElementById("steepK").style.color = "#ff2d2d";
						}
						else {
							document.getElementById("messageK1").style.display = "none";
							document.getElementById("flatK").style.backgroundColor = "";
							document.getElementById("flatK").style.color = "";
							document.getElementById("steepK").style.backgroundColor = "";
							document.getElementById("steepK").style.color = "";
						}
					}
					else {
						document.getElementById("flatK").style.backgroundColor = "";
						document.getElementById("flatK").style.color = "";
						document.getElementById("steepK").style.backgroundColor = "";
						document.getElementById("steepK").style.color = "";
					}
				}
			}


		if (deg.value == null || deg.value == "") {
			document.getElementById("flatK").style.backgroundColor = "";
			document.getElementById("flatK").style.color = "";
			}


	}

		function steepkClick(deg) {
			if (getCookie("vsyNotasyon") == "d") {
				if (deg.value > 60 || deg.value < 30) {
					document.getElementById("steepK").style.backgroundColor = "#FFF0F0";
					document.getElementById("steepK").style.color = "#ff2d2d";
				}
				else {
					if ((document.getElementById("flatK").value != null && document.getElementById("flatK").value != "") && (document.getElementById("steepK").value != null && document.getElementById("steepK").value != "")) {
						if (parseInt(document.getElementById("flatK").value) >= parseInt(document.getElementById("steepK").value)) {
							document.getElementById("messageK2").style.display = "";
							document.getElementById("messageK1").style.display = "none";
/*							document.getElementById("messageK").innerText = "K2 değeri K1 değerinden büyük olmalıdır.";*/
							document.getElementById("steepK").style.backgroundColor = "#FFF0F0";
							document.getElementById("steepK").style.color = "#ff2d2d";
							document.getElementById("flatK").style.backgroundColor = "#FFF0F0";
							document.getElementById("flatK").style.color = "#ff2d2d";
						}

						else {
							document.getElementById("messageK2").style.display = "none";

							document.getElementById("steepK").style.backgroundColor = "";
							document.getElementById("steepK").style.color = "";
							document.getElementById("flatK").style.backgroundColor = "";
							document.getElementById("flatK").style.color = "";
						}
					}
					else {
						document.getElementById("flatK").style.backgroundColor = "";
						document.getElementById("flatK").style.color = "";
						document.getElementById("steepK").style.backgroundColor = "";
						document.getElementById("steepK").style.color = "";
					}
				}
			}
			else {
				if (deg.value > 10 || deg.value < 5) {
					document.getElementById("steepK").style.backgroundColor = "#FFF0F0";
					document.getElementById("steepK").style.color = "#ff2d2d";
				}
				else {
					if ((document.getElementById("flatK").value != null && document.getElementById("flatK").value != "") && (document.getElementById("steepK").value != null && document.getElementById("steepK").value != "")) {
						if (parseInt(document.getElementById("flatK").value) <= parseInt(document.getElementById("steepK").value)) {
							/*document.getElementById("messageK").innerText = "K1 değeri K2 değerinden büyük olmalıdır.";*/
						document.getElementById("messageK1").style.display = "";
						document.getElementById("messageK2").style.display = "none";
						document.getElementById("steepK").style.backgroundColor = "#FFF0F0";
						document.getElementById("steepK").style.color = "#ff2d2d";
						document.getElementById("flatK").style.backgroundColor = "#FFF0F0";
						document.getElementById("flatK").style.color = "#ff2d2d";
					}
					else {
						document.getElementById("messageK1").style.display = "none";
						document.getElementById("steepK").style.backgroundColor = "";
						document.getElementById("steepK").style.color = "";
						document.getElementById("flatK").style.backgroundColor = "";
						document.getElementById("flatK").style.color = "";
					}
					}
					else {
						document.getElementById("flatK").style.backgroundColor = "";
						document.getElementById("flatK").style.color = "";
						document.getElementById("steepK").style.backgroundColor = "";
						document.getElementById("steepK").style.color = "";
					}
				}
			}

			if (deg.value == null || deg.value == "") {
				document.getElementById("steepK").style.backgroundColor = "";
				document.getElementById("steepK").style.color = "";
			}
			if (document.getElementById("flatK").value == null || document.getElementById("flatK").value == "") {
				document.getElementById("flatK").style.backgroundColor = "";
				document.getElementById("flatK").style.color = "";
			}
		}

		function controlinducedAstigmatism(deg) {
			if (deg.value > 2.5 || deg.value < 0) {
				document.getElementById("inducedAstigmatism").style.backgroundColor = "#FFF0F0";
				document.getElementById("inducedAstigmatism").style.color = "#ff2d2d";
			}
			else {
				document.getElementById("inducedAstigmatism").style.backgroundColor = "";
				document.getElementById("inducedAstigmatism").style.color = "";
			}
			if (deg.value == null || deg.value == "") {
				document.getElementById("inducedAstigmatism").style.backgroundColor = "";
				document.getElementById("inducedAstigmatism").style.color = "";
			}
		}



		function formuleResult()
		{
			var result =225;
			return result;
		}

		function changeModel()
		{

	}

	function editInfo() {
		var eyeSelection = "";
		if (document.getElementById("idcheck1").checked) {
			eyeSelection = "OS"
		}
		else {
			eyeSelection = "OD"
		}
		var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();
		today = mm + '/' + dd + '/' + yyyy;
		document.getElementById("mailContent").value =
			"Surgeon Name: " + document.getElementById("surgeonName").value + '\r\n' +
			"Date: " + today + '\r\n' +
			"ReferenceName: " + document.getElementById("referans").value + '\r\n' +
			"EyeSelection: " + eyeSelection + '\r\n' +
			"IOL: " + getCookie("vsyModel") + '\r\n' +
			"Alignment: " + "alignment" + '\r\n' +
			"Residual Astigmatizm: " + "Residual Astigmatizm"
			;
	}

	function sendPdf() {
		debugger;
		$(".loader")[0].style.display = "";
		var eyeSelection = "";
		if (document.getElementById("idcheck1").checked) {
			eyeSelection="OS"
		}
		else {
			eyeSelection = "OD"
		}
		 $.ajax(
			{
				type: 'POST',
				dataType: 'JSON',
				 url: '/Home/selectpdf',
				//contentType:"applciation/json; charset=utf-8",
				data: {
					Email: document.getElementById("email").value,
					SurgeonName: getCookie('vsysurgeonName'),
					Clinic: getCookie('vsyclinic'),
					Phone: getCookie('vsyphone'),
					Country: getCookie('vsycountry'),
					FlatAxis: document.getElementById("axisX").value,
					SteepAxis: document.getElementById("axisY").value,
					FlatK: document.getElementById("flatK").value,
					SteepK: document.getElementById("steepK").value,
					ReferenceNo: document.getElementById("referans").value,
					IOLType: document.getElementById("items").value,
					IOLSphericalEquivalent: $(".1-100 :selected")[0].value,
					SurgicallyInducedAstigmatism: document.getElementById("inducedAstigmatism").value,
					IncisionLocation: document.getElementById("kesiID").value,
					Recipient: document.getElementById("recipient").value,
					MailContent: document.getElementById("mailContent").value,
					EyeSelection: eyeSelection
				 },
				 success:
					 function (data) {
						 $(".loader")[0].style.display = "none";
						 toastr.success('Mail sent', '', { timeOut: 1500 });
					 },
				 error:
					 function (data) {
						 /*if (data.status.toString() == "200") {*/
							 //$(".loader")[0].style.display = "none";
							 //toastr.success('Mail sent', '', { timeOut: 1500 });
						 //}
						 //else {
							 $(".loader")[0].style.display = "none";
							 toastr.error('Something went wrong.', '', { timeOut: 1500 });
						 /*} */
					 }
			 });
	}


	function f() {
		var eyeSelection = "";
		if (document.getElementById("idcheck1").checked) {
			eyeSelection = "OD"
		}
		else {
			eyeSelection = "OS"
		}
		$.ajax(
			{
				type: 'POST',
				dataType: 'JSON',
				url: '/Home/Print',
				data: {
					Email: document.getElementById("email").value,
					SurgeonName: getCookie('vsysurgeonName'),
					Clinic: getCookie('vsyclinic'),
					Phone: getCookie('vsyphone'),
					Country: getCookie('vsycountry'),
					FlatAxis: document.getElementById("axisX").value,
					SteepAxis: document.getElementById("axisY").value,
					FlatK: document.getElementById("flatK").value,
					SteepK: document.getElementById("steepK").value,
					ReferenceNo: document.getElementById("referans").value,
					IOLType: document.getElementById("items").value,
					IOLSphericalEquivalent: $(".1-100 :selected")[0].value,
					SurgicallyInducedAstigmatism: document.getElementById("inducedAstigmatism").value,
					IncisionLocation: document.getElementById("kesiID").value,
					Recipient: document.getElementById("recipient").value,
					MailContent: document.getElementById("mailContent").value,
					EyeSelection: eyeSelection
				},
				success:
					function () {
						toastr.success('Mail sent', '', { timeOut: 1500 });
					},
				error:
					function () {
						toastr.success('Mail sent', '', { timeOut: 1500 });
					}
			});
	}
	function getResult() {

	}
	function calculate(deg) {
		document.getElementById("sendPdfId").disabled= false;
		document.getElementById("results").style.display = "";
		document.getElementById("resultPreview").style.display = "none";
		document.getElementById("image13").style.display = "";
		document.getElementsByClassName("calculateText")[0].style.display = "";
		document.getElementById("calculateText").innerText = formuleResult() + "°";
		document.getElementById("image13").style.transform = ("rotate(" + parseInt( -formuleResult()) + "deg)");
				//var x = document.getElementById("results");
				//x.style.display = "block";
		/*document.getElementById("messageWarn").style.display = "none";*/
			var vsyM = '@ViewBag.vsyModel';
			if (vsyM == "1") {
					document.getElementById("image30").style.display = "";
					document.getElementById("image30").style.transform = ("rotate(" + parseInt(90 - formuleResult()) + "deg)");
					document.getElementById("image40").style.display = "none";
				}
				else {
					document.getElementById("image30").style.display = "none";
					document.getElementById("image40").style.transform = ("rotate(" + parseInt(90 - formuleResult()) + "deg)");
					document.getElementById("image40").style.display = "";
		}
		//if (document.getElementById("axisX").value == "" ||
		//	document.getElementById("axisY").value == "" ||
		//	document.getElementById("kesiID").value == "" ||
		//	document.getElementById("referans").value = "" ||

		//	) {
		//	toastr.error('Tüm alanları doldurduğunuzdan emin olun', '', { timeOut: 1500 });

		//}
			toastr.success('Hesaplama işlemi başarıyla tamamlandı.', '', { timeOut: 1500 });
		}
		function clean() {
			document.getElementById("results").style.display = "none";
			document.getElementById("resultPreview").style.display = "";

			document.getElementById("axisX").value = "";
			document.getElementById("axisY").value = "";
			document.getElementById("kesiID").value = "";
			document.getElementById("referans").value = "";
			document.getElementById("flatK").value = "";
			document.getElementById("steepK").value = "";
			document.getElementById("inducedAstigmatism").value = "";
			document.getElementById("image5").style.display = "none";
			document.getElementById("image6").style.display = "none";
			document.getElementById("image12").style.display = "none";
			document.getElementById("image13").style.display = "none";
			document.getElementById("calculateId").style.display = "none";
			document.getElementById("image30").style.display = "none";
			document.getElementById("image40").style.display = "none";

			//clean error colors
			document.getElementById("axisY").style.backgroundColor = "";
			document.getElementById("axisY").style.color = "";
			document.getElementById("axisX").style.backgroundColor = "";
			document.getElementById("axisX").style.color = "";
			document.getElementById("kesiID").style.backgroundColor = "";
			document.getElementById("kesiID").style.color = "";
			document.getElementById("flatK").style.backgroundColor = "";
			document.getElementById("flatK").style.color = "";
			document.getElementById("steepK").style.backgroundColor = "";
			document.getElementById("steepK").style.color = "";
			document.getElementById("inducedAstigmatism").style.backgroundColor = "";
			document.getElementById("inducedAstigmatism").style.color = "";
			document.getElementById("messageK1").style.display = "none";
			document.getElementById("messageK2").style.display = "none";
		}

		$(document).ready(function () {
			$('#desc').popover({
				html: true,
				title: function () {
					return $('.popover_title').html();
				},
				content: function () {
					return $('#popover_content_wrapper').html();
				}
			});
			$('#desc2').popover('hide');
		});

		$(document).on('click', '.close-desc', function () {
			$('#desc').popover('hide');
		});

		$(document).ready(function () {
			$('#desc2').popover({
				html: true,
				title: function () {
					return $('.popover_title2').html();
				},
				content: function () {
					return $('#popover_content_wrapper2').html();
				}
			});
			$('#desc').popover('hide');
		});

		$(document).on('click', '.close-desc2', function () {
			$('#desc2').popover('hide');
		});
</script>

<div id="style-row" class="row" style="background-color: #e7e9ed; border-radius: .92rem; padding: 1%">
	<div id="style-cont1" style="padding:0%" class="col-7">
		<div class="formStyle">
			<form>
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<fieldset class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["ReferenceNo"] </label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.ReferenceNo </label>

								<input type="text" class="form-control" id="referans" value="">
							</fieldset>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								@*<label class="label-floating">@SharedLocalizer["IOLType"]</label>*@
								<label class="label-floating">@Model.IOLType</label>
								<select onchange="setCookie('vsyModel', this.value, 300)" id="items" name="delivery" class="form-control">
									<option id="trinova" value="1" selected>Trifocal Toric IOL Acriva Trinova</option>
									<option id="udm" value="2">Monofocal Toric IOL Acriva BB T UDM 611</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="formStyle">
			<form>
				<div style="border-radius:.92rem" class="card-header flex-wrap border-0  pb-0 darkerColor">
					<div style="margin-top:1%" class="card-title">
						<p style="text-align: left;FONT-SIZE:105%;color: #00226a;font-weight: bolder;">
							@*<span class="card-label text-uppercase" id="">@SharedLocalizer["TitleSurgeonInformations"]</span>*@
							<span class="card-label text-uppercase" id="">@Model.TitleSurgeonInformations</span>
						</p>
					</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<fieldset class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["SurgeonName"]</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.SurgeonName</label>
								<input onchange="setCookie('vsysurgeonName', this.value, 300)" class="form-control" type="text" value="" id="surgeonName" />
							</fieldset>
						</div>
						<div class="col-md-4">
							<fieldset class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["Clinic"]</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.Clinic</label>
								<input onchange="setCookie('vsyclinic', this.value,300)" class="form-control" type="text" value="" id="clinic" />
							</fieldset>
						</div>
						<div class="col-md-4">
							<fieldset class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["Phone"]</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.Phone</label>

								<input onchange="setCookie('vsyphone', this.value,300)" class="form-control" type="text" value="" id="phone" />
							</fieldset>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<fieldset class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["Email"]</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.Email</label>
								<input onchange="setCookie('vsyemail', this.value,300)" class="form-control" type="text" value="" id="email" />
							</fieldset>
						</div>
						<div class="col-md-6">
							<fieldset class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["Country"]</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.Country</label>
								<select onchange="setCookie('vsycountry', this.value, 300)" name="country" id="country" class="form-control">
									<option id="SelectedCountry" value="SelectedCountry" selected="selected">Seçiniz</option>
									<option id="US" value="US">United States</option>
									<option id="UK" value="UK">United Kingdom</option>
									<option id="France" value="France">France</option>
									<option id="Germany" value="Germany">Germany</option>
									<option id="Spain" value="Spain">Spain</option>
									<option id="Italy" value="Italy">Italy</option>
									<option id="Turkey" value="Turkey">Turkey</option>
								</select>
							</fieldset>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="formStyle">
			<form>
				<div style="border-radius:.92rem;" class="card-header flex-wrap border-0  pb-0 darkerColor">
					<div style="margin-top:1%!important" class="card-title">
						<p style="text-align: left;FONT-SIZE: 105%;color: #00226a;font-weight: bolder;">
							@*<span class="card-label text-uppercase" id="">@SharedLocalizer["TitleEyeInformations"]</span>*@
							<span class="card-label text-uppercase" id="">@Model.TitleEyeInformations</span>
						</p>
					</div>
				</div>
				<div class="card-body">

					<div class="row" id="messageK1" style="display: none; background-color: #FFF0F0; color: #ff2d2d; border-radius: 0.62rem; margin-top: -3.1%; ">
						@*<small style="margin-left:2.3%">@SharedLocalizer["WarningK1Bigger"]</small>*@
						<small style="margin-left:2.3%">@Model.WarningK1Bigger</small>
					</div>
					<div class="row" id="messageK2" style="display: none; background-color: #FFF0F0; color: #ff2d2d; border-radius: 0.62rem; margin-top: -3.1%; ">
						@*<small style="margin-left:2.3%">@SharedLocalizer["WarningK2Bigger"]</small>*@
						<small style="margin-left:2.3%">@Model.WarningK2Bigger</small>

					</div>

					<div class="row">
						<div class="col-md-6" style="margin-top:5%">
							<div class="row">
								<div style="margin-left:2%" class="form-check">
									<input onclick="ChangeD()" type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios" checked="checked">
									<label style="font-size: 86%;" class="form-check-label" for="materialUnchecked">p(Diyoptri)</label>
								</div>
								<div style="margin-left:2%" class="form-check">
									<input onclick="ChangeMM()" type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios">
									<label style="font-size: 86%;" class="form-check-label" for="materialChecked">r(Milimetre)</label>
									<hr class="hrStyle" />
								</div>
							</div>
						</div>
						<div class="col-md-6" style="margin-top:5%">
							<div class="row">
								<div style="margin-left:2%" class="form-check">
									<input onclick="eyeControl('right')" type="radio" class="form-check-input" id="idcheck2" name="EyeControlCheck" checked>
									@*<label style="font-size: 86%;" class="form-check-label" for="idcheck2">@SharedLocalizer["RightEye"] (OD)</label>*@
									<label style="font-size: 86%;" class="form-check-label" for="idcheck2">@Model.RightEye (OD)</label>
								</div>
								<div style="margin-left:2%" class="form-check">
									<input onclick="eyeControl('left')" type="radio" class="form-check-input" id="idcheck1" name="EyeControlCheck">
									@*<label style="font-size: 86%;" class="form-check-label" for="idcheck1">@SharedLocalizer["LeftEye"] (OS)</label>*@
									<label style="font-size: 86%;" class="form-check-label" for="idcheck1">@Model.LeftEye (OS)</label>
									<hr class="hrStyleRight" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="flatK" id="flatKLabel" class="bmd-label-floating">K1 (@Model.FlatK) 30.00D~60.00D</label>
								@*<label for="flatK" id="flatKLabel" class="bmd-label-floating">K1 (@SharedLocalizer["FlatK"]) 30.00D~60.00D</label>*@
								<input onchange="flatkClick(this)" class="form-control" type="text" value="" id="flatK" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								@*<label class="bmd-label-floating">@SharedLocalizer["FlatAxis"] 0° - 180°</label>*@
								<label class="bmd-label-floating">@Model.FlatAxis 0° - 180°</label>
								<input maxlength="3" oninput="senkronX(this)" value="" class="form-control" type="text" id="axisX" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								@*<label for="steepK" id="steepKLabel" class="bmd-label-floating">K2 (@SharedLocalizer["SteepK"]) 30.00D~60.00D</label>*@
								<label for="steepK" id="steepKLabel" class="bmd-label-floating">K2 (@Model.SteepK) 30.00D~60.00D</label>
								<input onchange="steepkClick(this)" class="form-control" type="text" value="" id="steepK" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								@*<label for="exampleInputEmail1" class="bmd-label-floating">@SharedLocalizer["SteepAxis"] 0° - 180°</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.SteepAxis 0° - 180°</label>

								<input maxlength="3" oninput="senkronY(this)" value="" class="form-control" type="text" id="axisY" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								@*<label for="exampleInputEmail1" class="bmd-label-floating" id="IOLSphericalEquivalent">@SharedLocalizer["IOLSphericalEquivalent"]</label>*@
								<label for="exampleInputEmail1" class="bmd-label-floating" id="IOLSphericalEquivalent">@Model.IOLSphericalEquivalent</label>
								<select id="IOLSphericalEquivalent" name="delivery" class="1-100 form-control"></select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="exampleInputEmail1" class="bmd-label-floating">@Model.IncisionLocation 0° - 360° </label>
								<input style="background-color:transparent" maxlength="3" oninput="kesi(this)" value="" class="form-control" type="text" id="kesiID" />
							</div>
						</div>
					</div>
					<div class="row">
						<svg id="desc2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="question-circle" class="questionIcon  close-desc svg-inline--fa fa-question-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path></svg>
						<div class="col-md-6">
							<div class="form-group">
								<label style="margin-left: 2%; margin-top: -2%;" for="inducedAstigmatism" class="bmd-label-floating">
									@*@SharedLocalizer["SurgicallyInducedAstigmatism"] 0.00D - 2.50D*@
									@Model.SurgicallyInducedAstigmatism 0.00D - 2.50D

								</label>
								<input onchange="controlinducedAstigmatism(this)" class="form-control" type="text" value="" id="inducedAstigmatism" />
							</div>

						</div>
					</div>
					<br />

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button onclick="clean()" style="background-color: #ff8f1f; border-color: #ff8f1f; border-radius: .42rem; border: transparent; padding: 6px 13px; font-weight: bolder; font-size: 91%; color:white; " type="button" class="btn btn-info">
									@*@SharedLocalizer["Clean"]*@
									@Model.Clean
								</button>
								<button style="background-color: #20a4d5; border-color: #20a4d5; border-radius: .42rem; border: transparent; padding: 6px 13px; font-weight: bolder; font-size: 91%; color:white;" type="button" class="btn btn-info text-uppercase" data-toggle="modal" data-target="#calculateResult">
									@Model.Calculate
								</button>

								@*<button id="printPdfId" disabled onclick="print()" style="color: white;
				background-color: #20a4d5;
				border-color: #20a4d5;
				border-radius: .42rem;
				border: transparent;
				padding: 6px 13px;
				font-weight: bolder;
				font-size: 91%;
		" type="button" class="btn btn-info text-uppercase">
											<i class="fa fa-print"></i>
											Print
										</button>*@
								
	<button id="sendPdfId" disabled style="background-color: #20a4d5; border-color: #20a4d5; border-radius: .42rem; border: transparent; padding: 6px 13px; font-weight: bolder; font-size: 91%; color:white;" type="button" class="btn btn-info text-uppercase" data-toggle="modal" data-target="#sendPdf" onclick="editInfo()">
		<i class="fa fa-send-o"></i>
		@Model.Send
	</button>
								<div class="modal fade" id="sendPdf" tabindex="-1" role="dialog" aria-labelledby="">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div style="border-bottom: 1px solid #e5e5e5!important;" class="modal-header">
												<h5 style="font-family: serif !important;" class="modal-title" id="myModalLabel">
													Send mail with attached document
												</h5>
											</div>
											<div style="text-align: left; border-bottom: 1px solid #e5e5e5 !important; font-family: serif!important;" class="modal-body">
												<div class="form-group row">
													<label for="Recipient" class="col-3">Recipient</label>
													<input value="" type="text" id="recipient" name="recipient" class="col-9 form-control" />
												</div>
												<div class="form-group row">
													<label class="col-3" for="">Content</label>
													<textarea id="mailContent" rows="8" type="text" name="Content" class="form-control col-9"></textarea>
												</div>
											</div>
											<div class="modal-footer">
												<button data-dismiss="modal" onclick="sendPdf()" type="button" class="btnBlue">@Model.Send</button>
												<button class="btnBlue" data-dismiss="modal">@Model.Cancel</button>
												@*<button class="btnBlue" data-dismiss="modal">@Model.Clean</button>*@
											</div>
										</div>
									</div>
								</div>
								<div style="margin-top:10%;" class="modal fade" id="calculateResult" tabindex="-1" role="dialog" aria-labelledby="">
									<div class="modal-dialog" role="document">
										<div style="border-radius:0.4rem!important" class="modal-content">
											<div style="border-bottom: 1px solid #e5e5e5!important;" class="modal-header">
												<h5 style="font-family: serif !important;" class="modal-title" id="myModalLabel">
													@SharedLocalizer["Approve"]
												</h5>
											</div>
											<div style="		text-align: left;
		border-bottom: 1px solid #e5e5e5 !important;
		font-family: serif!important;" class="modal-body">

												@*Girilen verilerin doğruluğundan emin olunuz.
						<br />
						VSY Biyoteknoloji verileri aktarmaz veya saklamaz.*@
												@SharedLocalizer["CalculatePopUp"]
											</div>

											<div style="text-align: center;" class="modal-footer">
												<button data-dismiss="modal" onclick="calculate(true)" type="button" class="btnBlue">@SharedLocalizer["Ok"]</button>
												@*<button data-dismiss="modal" class="btnBlue">@SharedLocalizer["Cancel"]</button>*@
												<button data-dismiss="modal" class="btnBlue">@Model.Cancel</button>
											</div>
											@*</form>*@
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="validmessage360" style="display: none; background-color :#FFF0F0; color:#ff2d2d;border-radius: 0.62rem;">
						<p style="margin:1%!important" id="messagevalidate360">
							<img onclick="validClose360()" style="margin-top:-3px!important; width:2%!important" src="~/img/close.png" />
							Bu değer 0 ile 360 arasında olmalıdır!
						</p>
					</div>
					<!--<div class="row" id="messageWarn" style="display: none; background-color :#FFF0F0; color:#ff2d2d;border-radius: 0.62rem;">
					<p style="margin:1%!important" id="messageKK">-->
					@*<i>x</i>*@
					<!--<img onclick="messageWarningClose()" style="margin-top:-3px!important; width:2%!important" src="~/img/close.png" />
							Lütfen eksik bilgileri doldurunuz!
						</p>
					</div>-->
				</div>
			</form>

		</div>
	</div>
	<div class="col-5" id="style-col5">
		<div class="formStyle">
			<div class="parent">
				<div class="form-group styleGroup">
					<p style="text-align: left;FONT-SIZE: 105%; padding: 4% 4% 0% 4%;color: #00226a;font-weight: bolder;">
						<span id="leftItem" style="float: left; margin-bottom: 18.68%; text-align: left;">TEMPORAL</span>
						<span id="rightItem" style="float:right; text-align:right;">NASAL</span>
					</p>
					<div>
						<a onclick="eyeControl('right')"><img style="border-style:double; border-color:gray" class="imgsol" id="eyesol" src="~/img/sol.png" /></a>
						<a onclick="eyeControl('left')"><img class="imgsag" id="eyesag" src="~/img/sag.png" /></a>
					</div>
					@*<div style="color: #75b9df; font-size: 15px; margin-top:11.1%;" class="centertext">
							GÖZ SEÇİMİ
						</div>
						<div class="row" style="margin-left:26%!important">
							<div style="margin-left:2%" class="form-check">
								<input onchange="eyeControl('right')" type="radio" class="form-check-input" id="idcheck2" name="materialExampleRadios" checked>
								<label style="font-size: 86%;" class="form-check-label" for="idcheck2">Sağ Göz (OD)</label>
							</div>
							<div style="margin-left:2%" class="form-check">
								<input onchange="eyeControl('left')" type="radio" class="form-check-input" id="idcheck1" name="materialExampleRadios">
								<label style="font-size: 86%;" class="form-check-label" for="idcheck1">Sol Göz (OS)</label>
							</div>
						</div>
						<hr style="margin-left: 23%; margin-right: 19%; margin-top:0%!important;margin-bottom:0%!important; border: 0.5px solid #75b9df;" />*@
				</div>
				<div>
					<img id="image7" class="image7" src="~/img/lenses/degree.png" />
					<img id="image8" class="image8" src="~/img/lenses/eye2.png" />
					<img style="display:none" id="image30" class="image30" src="~/img/lenses/lensTrinova.png" />
					<img style="display:none" id="image40" class="image40" src="~/img/lenses/lensUDM 1.png" />
					<img id="image5" style="display:none;" class="image5" src="~/img/redline.png" />
					<img style="display:none" id="image6" class="image6" src="~/img/greenline2.png" />
					<img style="display:none" id="image13" class="image13" src="~/img/resultLine.png" />
					<img id="image12" class="image12" src="~/img/yeni3.png" style="display: none;" />
					<button style="display:none" class="calculateText" id="calculateId">
						<div id="calculateText">0</div>
					</button>
					<div class="loader" style="display:none"></div>
				</div>
				<div class="row">
					<img id="infoRed" class="col-4 infoRed" src="~/img/redline.png" />
					<img id="infoGreen" class="col-4 infoGreen" src="~/img/greenline2.png" />
					<img id="infoKesi" class="col-4 infoKesi" src="~/img/yeni3.png" />
				</div>
				<div class="row">
					<div class="col-4 textesClass"><small>@Model.FlatAxis</small></div>
					@*<div class="col-4 textesClass"><small>@SharedLocalizer["FlatAxis"]</small></div>*@
					<div style="margin-top:6.5%; text-align:center;" class="col-4"><small>@Model.SteepAxis</small></div>
					@*<div class="col-4 locClass"><small>@SharedLocalizer["IncisionLocation"]</small></div>*@
					<div class="col-4 locClass"><small>@Model.IncisionLocation</small></div>
				</div>

			</div>
		</div>
		<div style="display:block; margin-top:3.3%;" id="resultPreview" class="formStyle">
			<div style="border-radius:.42rem" class="card card-custom gutter-b">
				<div class="card-header flex-wrap border-0  pb-0 darkerColor">
					<div class="card-title">
						<h3 style="margin-bottom: 4%; font-size: 105%; color: #00226a; font-weight: bolder;" class="card-label text-uppercase">
							@*@SharedLocalizer["Results"]*@
							@Model.Results
						</h3>
					</div>
				</div>
				<div style="padding: 0rem 2.25rem;" class="card-body lighterColor tableStyle">
					<table class="table table-separate" id="">
						<thead>
							<tr>
								<th>&nbsp;#</th>
								<th>IOL</th>
								<th>Power</th>
								<th>Axis</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<label class="checkbox">
										<input disabled type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td>
									<div class="placeholderLoading"></div>
								</td>
								<td>
									<div class="placeholderLoading"></div>
								</td>

								<td><div class="placeholderLoading"></div></td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input class="stylecheck" disabled type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td><div class="placeholderLoading"></div></td>
								<td><div class="placeholderLoading"></div></td>
								<td><div class="placeholderLoading"></div></td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input disabled type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td><div class="placeholderLoading"></div></td>
								<td><div class="placeholderLoading"></div></td>
								<td><div class="placeholderLoading"></div></td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input disabled type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td><div class="placeholderLoading"></div></td>
								<td><div class="placeholderLoading"></div></td>
								<td><div class="placeholderLoading"></div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div style="display:none; margin-top:3.3%;" id="results" class="formStyle">
			<div style="border-radius:.42rem" class="card card-custom gutter-b">
				<div class="card-header flex-wrap border-0  pb-0 darkerColor">
					<div class="card-title">
						<h3 style="margin-bottom:4.4%;font-size: 105%; color: #00226a; font-weight: bolder;" class="card-label text-uppercase">
							@Model.Results
							@*@SharedLocalizer["Results"]*@
						</h3>
					</div>
				</div>
				<div style="padding: 0rem 2.25rem;" class="card-body lighterColor tableStyle">
					<table class="table table-separate" id="">
						<thead>
							<tr>
								<th>&nbsp;#</th>
								<th>IOL</th>
								<th>Power</th>
								<th>Axis</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td>
									<label class="checkbox">
										<input type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td>18.00D</td>
								<td>1.50D</td>

								<td>130°</td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td>18.00D</td>
								<td>1.50D</td>

								<td>130°</td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td>18.00D</td>
								<td>1.50D</td>

								<td>130°</td>
							</tr>
							<tr>
								<td>
									<label class="checkbox">
										<input type="checkbox" name="Checkboxes1">
										<span></span>
									</label>
								</td>
								<td>18.00D</td>
								<td>1.50D</td>
								<td>130°</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popover_title" style="display: none">
	<h6>Hesaplama Methodu</h6>
	<small>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, reised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</small>
</div>
<div id="popover_content_wrapper" style="display: none">
	<span id="cart_details"></span>
	<div align="right">
		<a class="btn-sm btn-primary close-desc testK">
			OK
		</a>
	</div>
</div>

<div class="popover_title2" style="display: none">
	<h6>
		@Model.SurgicallyInducedAstigmatism (SIA)
	</h6>
	
	<small style="color: #00226a">

		@*@SharedLocalizer["DescSurgicallyInducedAstigmatism"]*@
		@Model.DescSurgicallyInducedAstigmatism
		@*The Surgically Induced Astigmatism (SIA) is directly proportional to the size of the incision. More specifically, the (SIA) depends on the size, angle, and location of incision.  The system will accept surgically induced astigmatism values between and including 0.00 and 2.50 D.
			<br />
			Surgeons should determine their own individual SIA values regarding their previous experiences.
			<br />
			<br />
			For the surgeons who choose to calculate personal SIA, the link below can be used as a reference:<br />
			<a target="_blank" href="https://ascrs.org/tools/corneal-sia-tool">https://ascrs.org/tools/corneal-sia-tool</a>*@
		<a target="_blank" href="https://ascrs.org/tools/corneal-sia-tool">https://ascrs.org/tools/corneal-sia-tool</a>
	</small>
</div>
<div id="popover_content_wrapper2" style="display: none">
	<span id="cart_details"></span>
	<div align="right">
		<a class="btn-sm btn-primary close-desc2 testK">OK</a>
	</div>
</div>

<div style="display:none;" id="snackbarSucces">Hesaplama işlemi başarılı bir şekilde gerçekleştirildi.</div>
<div style="display:none;" id="snackbarFail">Beklenmeyen bir hata oluştu</div>